body {
    margin: auto; 
}
.header {
    overflow: hidden;
    background-color: white;
    margin: auto;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border: 1px solid black;
    border-color: #cccccc;
}
.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}
.header a.name {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 40px;
    font-weight: bold;
    background-color: #4aaaa5;
    color: white;
    width: 320px;
    padding: 50px;
    margin: 0px;
    border: 0px;
}
#header-width {
    margin: auto;
    width: 960px;
}
.header-right {
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    
}

.content {
    width:960px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-color: #dddddd;
    
}

img {
    float: left;
    margin: 20px;
}

p5 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 40px;
}
p6 {
    color: #777777;
    font-size: 20px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #777777;
    text-align: center;
    padding: 50px 50px 5px 50px;
 }
 .contName {
    background-color: white;
    max-width: 960px;
    border: 1px solid black;
    padding: 5px;
    margin: 25px;
}
.contEmail {
    background-color: white;
    max-width: 960px;
    border: 1px solid black;
    padding: 5px;
    margin: 25px;
}
.contMessage {
    background-color: white;
    max-width: 960px;
    border: 1px solid black;
    height: 300px;
    padding: 5px;
    margin: 25px;
}
.whiteBox {
    width:960px;
    height: 900px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-color: #dddddd;
}
.submit {
    background-color: teal;
    width: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    margin: 25px;
}
.line {
    width: 960px;
    border: 2px solid #dddddd;
    margin: auto;
}